<!DOCTYPE html>
<html>
  <head>
    <title>raspi-node.js</title>
    <style type="text/css">
      li { font-size: 1.8em; }
      canvas { border: 1px solid #999; }
    </style>
  </head>
  <body>
    <ul>
      <li id="accx">x</li>
      <li id="accy">y</li>
      <li id="accz">z</li>
    </ul>    
    <canvas id="cv" width="500" height="155"></canvas>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/client.js"></script>
  </body>
</html>